@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); /* font-family: 'Gothic A1', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #000;
  --primary-lite: #ffffff;
  --secoundry: #fca61f;
}

.Artificial-image img {
  margin-left: 80px;
  /* width: 100%; */
  height: 340px;
  flex-shrink: 0;
  border-radius: 28px;
}

.Artificial-image-second img {
  height: 340px;
  flex-shrink: 0;
  border-radius: 28px;
}

.secGaps {
  padding: 38px 0px 1px 2px;
  /* border: 2px solid red; */
}

.secGaptwo {
  margin-top: 40px;
  padding: 130px 0px 1px 2px;
}

.process-content {
  display: flex;
  background: #ffffff;
  border-radius: 28px;
  padding: 40px;
  max-width: 630px;
  width: 100%;
}

/* .process-container:nth-of-type(odd) .process-image img {
  margin-left: auto;
} */

.process-mapra {
  margin-top: 30px;
  color: #5b5b5b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Artificial-title h3 {
  text-align: start;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.Ai-Edu-title h3 {
  padding-left: 80px;
  margin-top: 40px;
  color: #333;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding-bottom: 30px;
}

.Artificial-title h3 span {
  color: #fca61f;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 20px;
}

.Ai-Edu-title h3 span {
  color: #fca61f;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.Ailist {
  display: flex;
  gap: 15px;
  padding-left: 80px;

  /* margin-top: 20px; */
}

.Ailist p {
  text-align: start;
  /* margin-top: 10px; */
  color: #5b5b5b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

/* media quire styling here ... */

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .process-container {
    background-size: contain;
    border: 2px solid red;
  }
  .Artificial-title h3 {
    color: #fca61f;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
  }
  .Artificial-title h3 span {
    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
  }

  .process-mapra{
    margin-top: auto;
  }

  .Artificial-image img {
    margin: inherit;
  }

  .Ailist img {
    /* margin:0; */
    margin-left: 10px;
    text-align: center;
  }

  .secGaptwo {
    margin-top: auto;
    padding: 0;
  }
  .Ai-Edu-title h3{
    padding-left: inherit;
  }
  .Ailist{
    padding-left: inherit;

  }
  .process-content{
    padding: 0;
  }
}
