.Artificial-image img {
  margin-left: 80px;

  border-radius: 28px;
}

.Artificial-image-second img {
  border-radius: 28px;
}

.secGaps {
  padding: 38px 0px 1px 2px;
}

.secGaptwo {
  margin-top: 40px;
  padding: 130px 0px 1px 2px;
}

.process-content {
  margin-top: 70px;
  display: flex;
  justify-content: right;
}

.process-mapra {
  margin-top: 30px;
  color: #5b5b5b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.Artificial-title h3 {
  text-align: start;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.Ai-Edu-title h3 {
  padding-left: 80px;
  margin-top: 50px;
  color: #333;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding-bottom: 30px;
}

.Artificial-title h3 span {
  color: #fca61f;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 20px;
}

.Ai-Edu-title h3 span {
  color: #fca61f;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.Ailist {
  display: flex;
  gap: 15px;
  padding-left: 80px;
  margin-top: -10px;
}

.Ailist p {
  margin-top: 15px;
  text-align: start;
  color: #5b5b5b;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

/* .Ailist .ed-para{
  margin-top: 40px;
} */

/* media quire styling here ... */

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .process-container {
    background-size: contain;
    border: 2px solid red;
  }

  .process-content {
    margin-top: 1 0px;
  }
  .Artificial-title h3 {
    margin-top: 10px;
    color: #fca61f;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
  }
  .Artificial-title h3 span {
    color: #333;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
  }

  .process-mapra {
    margin-top: auto;
  }

  .Artificial-image img {
    margin: inherit;
  }

  .Ailist img {
    margin-left: 10px;
    text-align: center;
  }

  .secGaptwo {
    margin-top: auto;
    padding: 0;
  }
  .Ai-Edu-title h3 {
    padding-left: inherit;
  }
  .Ailist {
    padding-left: inherit;
  }
  .process-content {
    padding: 0;
    margin-top: 10px;
  }
  .Artificial-image img {
    width: 439.437px;
    height: 284px;
  }
  .Artificial-image-second img {
    width: 439.437px;
    height: 284px;
    margin-bottom: 50px;
  }
}
