@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); /* font-family: 'Gothic A1', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* our product features styling here ... */

.ed2100-program-sections {
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 0) 40%,
    rgba(248, 248, 250, 1) 40%
  );
  /* height: 200px; */
  /* margin-bottom: 2rem; */
}

.content-edpropgram {
  padding-top: 70px;
  text-align: center;
}

.content-edpropgram h3 span {
  color: #fca61f;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.content-edpropgram h3 {
  color: #333;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.content-edpropgram p {
  margin-top: 30px;
  color: #333;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content-edpropgram p strong {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.card-size{
  width: 110%;
  /* display: grid; */
  /* grid-template-columns: repeat(1,1fr); */
  /* grid-template-rows: repeat(2,1fr); */
  gap: 1px;
}

/* .img-box-slider-program {
  width: 295px;
  height: 361px;
  flex-shrink: 0;
  border-radius: 6px;
} */

/* swiper slider styling here ... */

.slider-container {
  width: 100%;
  animation: ourvalues-marquee 30s linear infinite;
  display: flex;
  gap: 20px;
}
@keyframes ourvalues-marquee {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3864px);
  }
}

@media screen and (max-width: 600px) {
  @keyframes ourvalues-marquee {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-2520px);
    }
  }


  .content-edpropgram h3 span {
    color: #fca61f !important;
    text-align: center;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
  }
  .content-edpropgram h3  {
    color: #333 !important;
    text-align: center;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
  }
}

/* //   <SwiperSlide>

//   <img src={image4} alt="slide_image" />
// </SwiperSlide>  */
