

footer .footNav {
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
}

footer .footNav li {
  list-style: none;
}

footer .footNav li:not(:last-child) {
  margin-right: 40px;
}

footer .footNav li a {
  color: #666;
  text-decoration: none;
}

.copyright {
  margin-top: 40px;
  padding: 30px 0;
  border-top: 1px solid #eee;
}

.footer-nav span {
  display: inline-block;
}

.phone-icons {
  display: flex;
  gap: 10px;
}

.phone-icons span {
  color: #0092ff;
}

.address {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #666666;
}



.mail-btn {
  margin-top: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.footer-nav span {
  display: inline-block;
}
.footer-nav span {
  gap: 10px;
}

/* media quiery styling here ... */

@media only screen and (max-width: 600px) {
  .footer .footer-logo img {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
  }
  .contact-sec{
    margin: auto;
  }

  .phoneicons {
    justify-content: center;
    margin-right: 10px;
  }

  .footer .widget1 p {
    text-align: center;
  }

  .footer .socialLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .footer-menu-title{
    text-align: center;
  }

  .footer-menu-title2{
    display: none;
  }
  .footer-menu-title1{
    display: none;
  }

  footer {
    text-align: center;
}
footer .footer-logo {
    max-width: 100px;
    width: 100%;
}
.footer-nav {
    margin-inline: auto;
    text-align: center;
    margin: 20px 0;
}
footer .mt-5 {
    margin: 0 !important;
}
footer .footNav li:not(:last-child) {
    margin-right: 0;
}
footer .footNav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
}


/*  */

@media only screen and (max-width: 768px) {
  .footer-logo{
    display: flex;
    justify-content: center;
  }

  .footdesrption{
    text-align: center;
  }

  .phoneicons{
    display: flex;
    justify-content: center;
  }

  .socialLinks{
    display: flex;
    justify-content: center;
  }

  .footer-menu-title{
    display: flex ;
    justify-content: center;
    margin-top: 15px;
  }
  /* .col-md-2 {
    flex: 0 0 auto;
    width: initial;
    margin: auto;
    margin-top: 15px;
  } */

  

}

 

  .footer-menu-title1{
    display: none;
  }
  .footer-menu-title2{
    display: none;
  }






@media only screen and (max-width: 820px) {
  .footer-logo{
    display: flex;
    justify-content: center;
  }

  .footdesrption{
    text-align: center;
  }

  .phoneicons{
    display: flex;
    justify-content: center;
  }

  .socialLinks{
    display: flex;
    justify-content: center;
  }

  .footer-menu-title{
    display: flex ;
    justify-content: center;
    margin-top: 15px;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 100%;
    margin: auto;
    margin-top: 15px;

}

.col-md-6 {
  flex: 0 0 auto;
  width: 100%;
}

.col-md-9{
  width: 100%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 35%;
  display: flex !important;
  margin: auto !important;
  margin-top: 40px;
}
footer .footNav{
display: flex;
justify-content: center;
margin-top: 40px;
}

.footer-nav{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

 

  .footer-menu-title1{
    display: none;
  }
  .footer-menu-title2{
    display: none;
  }
}


.location{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #666666;
}

.location img{
 margin-left: 5px;
}
.location span{
 margin-left:12px;
}