/* OnBoarding stylong here .. */

.bgonbording {
  /* background-color: black; */
  background: linear-gradient(156deg, #000 0%, #262D35 100%);
  background-size: cover;
  overflow: hidden;
  padding-top: 5rem ;
  margin-top: 40px;
}

.Onboarding-content h3 {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  
}
.Onboarding-content h3 span {
  color: #FCA61F;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.Onboarding-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.second-svg {
  display: none;
}

.svg-section {
  display: flex;
  justify-content: center;
}

.hexagon {
  transition: all 0.4s ease-in-out;
}
.hexagon:hover {
  fill: #fca61f;
}
.hexagon:hover.hexagon-icon {
  color: #fff;
}
.arrow {
  stroke-dashoffset: 1000;
  animation: arrow-animation 20s linear alternate infinite;
}
@keyframes arrow-animation {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 600px) {
  .bgonbording{
    margin-top: 0;
  }

  .svg-section {
    display: none;
  }

  .second-svg {
    display: block;
    width: 100%;
    height: fit-content;
  }

  .Onboarding-content h3 span {
    color: #fca61f;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  .Onboarding-content h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }

  .Onboarding-content p {
    color: #dedede;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
  }

  .Onboarding-content p br{
    display:none;
  }
   /* br{
    display: inherit !important;
   } */
}
