* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* our product features styling here ... */

.Our-L-section {
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 0) 67%,
    rgba(255, 250, 230, 1) 67%
  );
}

.Our-Solution-title {
  padding-top: 70px;
  text-align: center;
}

.Our-S-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Our-Solution-title h3 span {
  color: #fca61f;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.Our-Solution-title h3 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}

.Our-Solution-title p {
  margin-top: 30px;
  color: #333;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content p strong {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

/*  */

.card-container {
  text-align: center;
}

.feature-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Our-S-card {
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  background: #fff;
  display: flex;
}

.Our-S-card .img-box-f {
  position: relative;
  width: 30%;
  flex-shrink: 0;
  border-radius: 77px 500px 500px 77px;
  background: #d2fcff;
}

.img-box-f {
  width: 147px;
  height: 212px;
  flex-shrink: 0;
}

.img-box {
  width: 100%;
  padding: 20px;
}

.card-txt .card-title {
  color: var(--dark-gary, #333);
  text-align: start;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  text-transform: capitalize;
}

.card-txt p {
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media only screen and (max-width: 600px) {
  .Our-L-section {
    background: linear-gradient(
      0deg,
      rgba(0, 212, 255, 0) 40%,
      rgba(248, 248, 250, 1) 40%
    );
  }

  .Our-S-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .Our-Solution-title h3 {
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    text-transform: capitalize;
  }
  .Our-Solution-title h3 span {
    color: #fca61f;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    text-transform: capitalize;
  }
  .Our-S-card {
    margin-top: 15px;
  }
}
