
  .modal__video-style{
    width: 100%;
  }

  .modal-head{
    border: none;
  }
  

  .modals-body{
    padding: 0;

  }
  @media screen and (max-width: 800px) {
    .modal__content {
      margin: 0rem ;
      width: 100%;

    }
    .modal__video-style {
      width: 83%;
      margin: auto;
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
   .modal__video-style{
      width: 90%;
      /* height: fit-content; */
   }

   .modal-body{
    padding: 0px !important;
    padding-right: 0px !important;
  }

  iframe{
    width: 90% !important;
  }
   
  }

.modal-card{
  cursor: pointer;
}

  .playicons {
    display: flex;
    gap: 20px;
    flex-shrink: 0;
  }
  
  .playicons h4 {
    margin-top: 20px;
    color: #fff;  
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }